.stroke {
  fill: none;
  stroke: currentColor;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: draw 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.mark-x .b {
  animation-delay: 200ms;
}

.mark {
  animation: retro-pop 200ms steps(3) forwards;
}

@keyframes retro-pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  33% {
    transform: scale(1.2);
    opacity: 1;
  }
  66% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
